<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomControls.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomControls.My.MySettings>
            <setting name="LastRefReactUnit" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="LastReagentUnit" serializeAs="String">
                <value>eq</value>
            </setting>
            <setting name="LastSolventUnit" serializeAs="String">
                <value>vq</value>
            </setting>
            <setting name="LastAuxiliaryUnit" serializeAs="String">
                <value>wq</value>
            </setting>
            <setting name="SettingIsNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSpellChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="StartupSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastImageEmbedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFileEmbedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPdfSaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PartialMatSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCloneType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CloneSkipEmbedded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewExpProjectSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastProductUnit" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="LastExportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastImportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDbUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="LastScaleUnit" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="IsServerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreFromServer" serializeAs="String">
                <value>False</value>
            </setting>
        </CustomControls.My.MySettings>
    </userSettings>
</configuration>
