/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #000000;
}
span.rvts12
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 color: #000000;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #0070c0;
}
span.rvts16
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #0070c0;
}
span.rvts17
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #000000;
 text-decoration: underline;
}
a.rvts18, span.rvts18
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #0000ff;
}
span.rvts20
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #000000;
}
span.rvts21
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #000000;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #0070c0;
}
a.rvts24, span.rvts24
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #00527f;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #0070c0;
}
a.rvts26, span.rvts26
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #373737;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #373737;
}
a.rvts29, span.rvts29
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts31
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts32
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts33
{
 font-size: 11pt;
 font-family: 'Segoe UI';
}
span.rvts34
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts36
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts37
{
 font-size: 11pt;
}
span.rvts38
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts40
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: ;
}
span.rvts41
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts42
{
 font-weight: bold;
}
span.rvts43
{
 font-size: 10.5pt;
 font-family: 'segoe ui';
 color: #000000;
}
span.rvts44
{
 font-size: 10.5pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #000000;
}
span.rvts45
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #3f3f3f;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #000000;
 background-color: #e5e5e5;
}
span.rvts47
{
 font-size: 4pt;
 font-family: 'segoe ui';
 color: #000000;
}
span.rvts48
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 color: #000000;
}
span.rvts49
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #000000;
}
span.rvts50
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #3333ff;
}
a.rvts51, span.rvts51
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 color: #190000;
 text-decoration: none;
}
a.rvts52, span.rvts52
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 color: #0000ff;
 text-decoration: none;
}
span.rvts53
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
}
span.rvts54
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #007bbf;
}
span.rvts55
{
 font-size: 13pt;
 font-style: italic;
 font-weight: bold;
 color: #007bbf;
}
span.rvts56
{
 font-style: italic;
}
span.rvts57
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-weight: bold;
}
span.rvts58
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
a.rvts59, span.rvts59
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts60
{
 font-family: 'segoe ui';
 color: #000000;
}
span.rvts61
{
 color: #007bbf;
}
a.rvts62, span.rvts62
{
 font-size: 11pt;
 font-family: 'segoe ui';
 color: #000000;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 12pt;
 color: #0070c0;
}
span.rvts64
{
 font-size: 12pt;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0070c0;
}
span.rvts65
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 color: ;
}
span.rvts66
{
 font-size: 11pt;
 font-family: 'segoeui';
}
span.rvts67
{
 font-size: 13pt;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #0070c0;
}
span.rvts68
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-weight: bold;
}
span.rvts69
{
 font-size: 13pt;
 font-family: 'Segoe UI';
 color: #0070c0;
}
span.rvts70
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
}
span.rvts71
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 text-decoration: underline;
}
span.rvts72
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #3f3f3f;
}
span.rvts73
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts74
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #000000;
}
span.rvts75
{
 font-family: 'segoe ui';
 font-style: italic;
 color: #000000;
}
span.rvts76
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts77
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts78
{
 font-family: 'Segoe UI';
}
span.rvts79
{
 font-size: 8pt;
 font-family: 'Segoe UI';
}
span.rvts80
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 color: #3f3f3f;
 text-decoration: underline;
}
span.rvts81
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts82
{
 font-size: 9pt;
 font-family: 'Consolas';
}
span.rvts83
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #7f7f7f;
}
span.rvts84
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #ffff00;
}
span.rvts85
{
 font-size: 9pt;
 font-family: 'Consolas';
 background-color: #ffff00;
}
span.rvts86
{
 font-size: 9pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #0000ff;
}
span.rvts87
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #0000ff;
}
span.rvts88
{
 font-size: 9pt;
 font-family: 'Calibri';
}
span.rvts89
{
 font-size: 9pt;
 font-family: 'Consolas';
 font-weight: bold;
}
span.rvts90
{
 font-size: 9pt;
 font-family: 'Consolas';
 background-color: #ffffff;
}
span.rvts91
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #ffffff;
}
span.rvts92
{
 font-size: 12pt;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #3f3f3f;
}
span.rvts93
{
 font-size: 13pt;
 font-family: 'Segoe UI';
 font-style: italic;
 font-weight: bold;
 color: #3f3f3f;
}
span.rvts94
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts95
{
 font-size: 11pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #007bbf;
}
span.rvts96
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #000000;
}
span.rvts97
{
 font-size: 11pt;
 font-family: 'Segoe UI';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 2px 0px 0px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 margin: 0px 0px 8px 0px;
}
.rvps7
{
 text-indent: 48px;
}
.rvps8
{
 margin: 0px 0px 12px 0px;
}
.rvps9
{
 margin: 12px 0px 0px 0px;
}
.rvps10
{
 text-indent: 48px;
 margin: 12px 0px 12px 0px;
}
.rvps11
{
 margin: 0px 0px 6px 0px;
}
.rvps12
{
 margin: 12px 0px 12px 0px;
}
.rvps13
{
 margin: 12px 0px 6px 0px;
}
.rvps14
{
 margin: 6px 0px 6px 0px;
}
.rvps15
{
 margin: 6px 0px 4px 0px;
}
.rvps16
{
 margin: 6px 0px 10px 0px;
}
.rvps17
{
 margin: 10px 0px 10px 0px;
}
.rvps18
{
 margin: 0px 0px 4px 0px;
}
.rvps19
{
 margin: 12px 0px 4px 0px;
}
.rvps20
{
 margin: 8px 0px 0px 0px;
}
.rvps21
{
 margin: 16px 0px 16px 0px;
}
.rvps22
{
 margin: 12px 0px 16px 0px;
}
.rvps23
{
 margin: 7px 0px 7px 0px;
}
.rvps24
{
 margin: 2px 0px 6px 0px;
}
.rvps25
{
 margin: 6px 0px 12px 0px;
}
.rvps26
{
 margin: 6px 0px 0px 0px;
}
.rvps27
{
 margin: 0px 0px 8px 12px;
}
.rvps28
{
 margin: 8px 0px 8px 12px;
}
.rvps29
{
 margin: 0px 0px 0px 24px;
}
.rvps30
{
 line-height: 1.50;
}
.rvps31
{
 margin: 2px 0px 4px 0px;
}
.rvps32
{
 margin: 1px 0px 0px 3px;
}
.rvps33
{
 margin: 1px 0px 2px 2px;
}
.rvps34
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 0px 0px;
}
.rvps35
{
 margin: 0px 0px 0px 1px;
}
.rvps36
{
 margin: 6px 0px 8px 0px;
}
.rvps37
{
 margin: 12px 0px 10px 0px;
}
.rvps38
{
 margin: 16px 0px 12px 0px;
}
.rvps39
{
 margin: 10px 0px 0px 0px;
}
.rvps40
{
 text-indent: 48px;
 margin: 14px 0px 0px 0px;
}
.rvps41
{
 margin: 4px 0px 0px 0px;
}
.rvps42
{
 line-height: 1.50;
 margin: 0px 0px 6px 0px;
}
.rvps43
{
 margin: 6px 6px 12px 12px;
}
.rvps44
{
 margin: 8px 0px 16px 0px;
}
.rvps45
{
 margin: 8px 0px 8px 0px;
}
.rvps46
{
 margin: 12px 0px 8px 0px;
}
.rvps47
{
 margin: 8px 0px 12px 0px;
}
.rvps48
{
 margin: 0px 0px 12px 20px;
}
.rvps49
{
 margin: 0px 0px 16px 0px;
}
.rvps50
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps51
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 6px 0px;
}
.rvps52
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 12px 0px 4px 0px;
}
.rvps53
{
 margin: 0px 0px 16px 24px;
}
.rvps54
{
 margin: 2px 0px 12px 0px;
}
.rvps55
{
 margin: 0px 0px 18px 0px;
}
.rvps56
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 22px 0px 4px 0px;
}
.rvps57
{
 margin: 22px 0px 0px 0px;
}
.rvps58
{
 margin: 4px 0px 4px 0px;
}
.rvps59
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 12px 0px 6px 0px;
}
.rvps60
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 6px 0px;
}
.rvps61
{
 margin: 6px 6px 8px 8px;
}
.rvps62
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 12px 0px 0px 0px;
}
.rvps63
{
 margin: 10px 0px 6px 0px;
}
.rvps64
{
 margin: 16px 0px 8px 0px;
}
.rvps65
{
 margin: 8px 0px 6px 0px;
}
.rvps66
{
 margin: 4px 0px 12px 0px;
}
.rvps67
{
 margin: 0px 0px 4px 24px;
}
.rvps68
{
 margin: 0px 0px 8px 24px;
}
.rvps69
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps70
{
 margin: 0px 0px 2px 0px;
}
.rvps71
{
 margin: 0px 0px 12px 24px;
}
.rvps72
{
 margin: 16px 0px 0px 0px;
}
.rvps73
{
 margin: 8px 0px 6px 24px;
}
.rvps74
{
 margin: 16px 0px 7px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
